name: CI

on:
  push:
    branches: [ "main", "wip" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libudev-dev
    - name: Check fieldbus
      run: cargo check --no-default-features --features fieldbus
    - name: Check visuals
      run: cargo check --no-default-features --features visuals
    - name: Check graphql
      run: cargo check --no-default-features --features graphql
    - name: Check all
      run: cargo check --all-features
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/rustfmt@v1
